<div class="row">

  <div class="col-md-4">
    <%= link_to "#{device_name(device)}",user_device_path(device.user_id,device), class: "btn btn-primary device_name_btn", id: "device_name_#{device.id}"%>
  </div>

  <div class="col-md-4">
    <%= link_to "#{action device}",status_user_device_path(device.user_id,device.id), class: "btn btn-primary device_name_btn", id: "device_status_#{device.id}"%>
  </div>

  <div class="col-md-4">
    <em>Timer in Future</em>
  </div>

</div>
